body{
    background-image: url("../img/fundo3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    
}

.conteudo{
    font-family: 'VT323', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 100px;
    gap: 10px;

}


img{
    width: 250px;
    height: 250px;
    border-radius: 125px;
    border: 3px solid rebeccapurple;
}

.parte{
    flex-direction: row;
    display: flex;

    padding-top: 100px;
    text-align: center;
    
}

.anime{
    padding-left: 120px;
}

a:hover{
    font-size: 40px;
}

